<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@0.1.3/src/chartjs-plugin-trendline.min.js"></script>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h1 class="text-white">Tableau de bord - {{ page_label }}</h1>
                <!-- Template tags accept parameters, which need to be separated by spaces. Behind the scenes the template tag is deconstructed and the contents are split on every space. -->
                <a href="{% url 'home' days_range=7 currencies=currencies %}" class="btn {% if page_label == 'semaine' %}btn-info{% else %}btn-secondary{% endif %}">semaine</a>
                <a href="{% url 'home' days_range=30 currencies=currencies %}" class="btn {% if page_label == 'mois' %}btn-info{% else %}btn-secondary{% endif %}">mois</a>
                <a href="{% url 'home' days_range=365 currencies=currencies %}" class="btn {% if page_label == 'année' %}btn-info{% else %}btn-secondary{% endif %}">année</a>

            </div>
        </div>

        <div class="row justify-content-center">
            {% for currency,rate in rates.items %}
                <div class="col-md-10 col-lg-6">
                    <canvas id="chart-{{currency}}"></canvas>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        <!-- change default textcolor in all charts -->
        Chart.defaults.global.defaultFontColor = "#fff";
        {% for currency,rate in rates.items %}
            var ctx = document.getElementById("chart-{{currency}}");
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ days|safe }},
                    datasets: [{
                        label: "{{ currency }}",
                        data: {{ rate|safe }},
                        fill: true,
                        borderColor: 'rgb(255,128,128)',
                        trendlineLinear:{
                            style: "#9fd6f4",
                            width: 3
                        }
                    }]
                }
            })
        {% endfor %}
    </script>
</body>
</html>